ion-toolbar {
	--background: #28adf6 !important;
	--color: #000000;
}

h3 {
	font-weight: bold !important;
}

.main-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	z-index: 100;
}
